@import '@/styles/globalStyles.scss';

.queries-page {
  padding: 20px 0;
  position: relative;
  max-width: 1280px;
  width: 95%;
  margin-left: auto !important;
  margin-right: auto !important;
  color: $main-black-color;

  .queries-page-filter {
    position: relative;
    justify-content: flex-start;
    padding-left: 0 !important;

    .filter-by-property {
      margin-bottom: 20px;
      background-color: $main-white-color;
      width: 100%;
      border: 0.5px solid $gray-color-2;
      border-radius: 5px;
      padding: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      box-shadow: 1px 1px 4px 0px rgba(79, 79, 79, 0.19);

      b {
        font-size: 16px;
        font-weight: 800;
        padding-left: 15px;
      }

      .filter-by-property-list {
        padding: 10px 14px;
      }
    }

    .filter-by-query {
      margin-bottom: 20px;
      background-color: $main-white-color;
      width: 100%;
      border: 0.5px solid $gray-color-2;
      border-radius: 5px;
      padding: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      box-shadow: 1px 1px 4px 0px rgba(79, 79, 79, 0.19);

      b {
        font-size: 16px;
        font-weight: 800;
        padding-left: 15px;
      }

      .filter-by-query-list {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 10px;

        .filter-by-query-item {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding-left: 16px;
          height: 36px;
          position: relative;

          &:hover {
            cursor: pointer;
            background-color: $main-orange-color;
            color: $main-white-color;
            font-weight: 700;
          }
        }

        .active {
          background-color: $main-orange-color;
          color: $main-white-color;
          font-weight: 700;

          &::after {
            content: '';
            height: 20px;
            width: 12px;
            background-color: $main-orange-color;
            position: absolute;
            right: -10.5px;
            clip-path: polygon(0 0, 0% 100%, 100% 50%);
          }
        }
      }
    }
  }

  .queries-page-content {
    position: relative;

    .queries-page-content-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      padding-right: 0.8px;

      .new-query-btn {
        background-color: $main-orange-color;
        height: 36px;
        width: 120px;
        padding: 0px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        color: $main-white-color;
        font-weight: 600;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
        transition: 0.3s ease-in-out;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */

        &:hover {
          cursor: pointer;
          box-shadow: 0 1px 3px 0 rgba(25, 25, 25, 0.2),
            0 2px 10px 1px rgba(79, 79, 79, 0.19);
        }
      }

      .search-query-form {
        display: flex;
        gap: 5px;
      }
    }

    .queries-page-content-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .content-main-pagination {
        margin-top: 20px;
      }
    }
  }

  .queries-page-recommendation {
    position: relative;
    width: 100%;
    padding-right: 0 !important;

    .query-recommendation {
      border: 1px solid $gray-color-1;
      padding: 15px 20px;
      border-radius: 6px;
      background-color: $main-white-color;
      position: relative;
      width: 100%;

      b {
        font-weight: 800;
        font-size: 16px;
        margin: 0;
      }

      .recommend-query-list {
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-items: flex-start;
        position: relative;
        width: 100%;

        .recommend-query {
          font-size: 14px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          position: relative;
          width: 100%;

          .recommend-query-title {
            margin-left: 10px;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &:hover {
            cursor: pointer;
            color: $main-orange-color;
            font-weight: bold;
          }
        }
      }
    }
  }

  .ant-select-single .ant-select-selector {
    gap: 10px;
    border-radius: 4px;
    height: 36px;
    display: flex;
    align-items: center;
  }

  .ant-input-affix-wrapper-focused {
    z-index: 0;
  }

  .ant-select-selector {
    border-color: rgba(204, 204, 204, 0.5) !important;
    box-shadow: none !important;

    &:hover {
      border-color: $main-orange-color !important;
    }

    &:focus-within {
      border-color: $main-orange-color !important;
      border-right-width: 1px;
      box-shadow: none;
    }
  }

  .ant-form-item {
    margin: 0;
  }

  .ant-input-affix-wrapper {
    border-radius: 4px;
    height: 36px;

    &:focus {
      border-color: $main-orange-color;
      border-right-width: 1px;
      box-shadow: none;
    }

    &:active {
      border-color: $main-orange-color;
      border-right-width: 1px;
      box-shadow: none;
    }

    &:focus-within {
      border-color: $main-orange-color;
      border-right-width: 1px;
      box-shadow: none;
    }
  }

  .ant-input-affix-wrapper-focused {
    border-color: $main-orange-color !important;
    box-shadow: none;
  }

  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: $main-orange-color;
    border-right-width: 1px;
    z-index: 1;
  }

  .ant-select-clear {
    transform: translateX(-5px);
    font-size: 14px;
  }

  //MOBILE RESPONSIVE
  .query-by-filter-mobile {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    display: flex;
    border: 1px solid $gray-color-2;
    position: relative;
    margin-bottom: 20px;
    border-radius: 4px;
    height: 34px;

    .filter-mobile-item {
      width: calc(100% / 3);
      display: flex;
      justify-content: center;
      align-items: center;

      &:nth-child(2) {
        border-left: 1px solid $gray-color-2;
        border-right: 1px solid $gray-color-2;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .active {
      background-color: $main-orange-color;
      color: $main-white-color;
      font-weight: 700;
    }
  }

  .advanced-setting {
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 3px;
    display: flex;
    gap: 5px;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
  .queries-page-drawer {
  }

  .ant-drawer-title {
    font-size: 14px;
    font-weight: 700;
  }
}
