@import '@/styles/globalStyles.scss';

.query-detail-page {
  padding: 20px 0;
  position: relative;
  max-width: 1280px;
  width: 95%;
  margin-left: auto !important;
  margin-right: auto !important;
  color: $main-black-color;

  .query-detail-page-content {
    position: relative;
    width: 100%;

    .query-detail-page-content-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      padding-right: 0px;
      position: relative;
      width: 100%;
      padding-right: 5px;

      @include mobile {
        flex-direction: column;
        align-items: center;
        gap: 15px;
      }

      .user-card-info {
        position: relative;
        align-items: center;
        display: flex;
        gap: 20px;
        justify-content: space-between;

        @include mobile {
          justify-content: flex-start;
        }

        img {
          height: 70px;
          width: 70px;
          border-radius: 50%;
          object-fit: cover;
          border: 2px solid $main-orange-color;

          &:hover {
            cursor: pointer;
          }
        }

        .info-detail {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 8px;

          .info-detail-name {
            font-size: 18px;
            line-height: 20px;
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */

            &:hover {
              cursor: pointer;
              color: $main-orange-color;
            }
          }

          .info-detail-date {
            font-style: italic;
            line-height: 14px;
            color: $gray-color-text;
            white-space: nowrap;
          }
        }
      }

      .user-card-statistic {
        display: flex;
        gap: 30px;

        .user-card-statistic-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 8px;
          b {
            font-size: 16px;
            line-height: 20px;
          }

          span {
            font-size: 14px;
            line-height: 14px;
          }
        }
      }
    }

    .query-detail-page-content-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .answer-field {
        width: 100%;
        padding: 15px 25px;
        margin-top: 10px;
        background-color: $main-white-color;
        margin-bottom: 8px;
        border-radius: 6px;
        border: 0.9px solid $gray-color-1;

        label {
          font-size: 16px;
          font-weight: 700;
        }

        .btn {
          height: 36px;
          width: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          gap: 8px;
          font-weight: 400;
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
          transition: 0.3s ease-in-out;

          &:hover {
            cursor: pointer;
            box-shadow: 0 1px 3px 0 rgba(25, 25, 25, 0.2),
              0 2px 10px 1px rgba(79, 79, 79, 0.19);
          }
        }

        .answer-btn {
          background-color: $main-orange-color;
          color: $main-white-color;
          float: right;
          margin-top: 10px;
        }
      }

      .answer-list {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .query-detail-page-recommendation {
    position: relative;
    width: 100%;
    padding-right: 0 !important;

    .query-recommendation {
      border: 1px solid $gray-color-1;
      padding: 15px 20px;
      border-radius: 6px;
      background-color: $main-white-color;
      position: relative;
      width: 100%;

      b {
        font-weight: 800;
        font-size: 16px;
        margin: 0;
      }

      .recommend-query-list {
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-items: flex-start;
        position: relative;
        width: 100%;

        .recommend-query {
          font-size: 14px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          position: relative;
          width: 100%;

          .recommend-query-title {
            margin-left: 10px;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &:hover {
            cursor: pointer;
            color: $main-orange-color;
            font-weight: bold;
          }
        }
      }
    }
  }

  .ant-select-single .ant-select-selector {
    gap: 10px;
    border-radius: 4px;
    height: 36px;
    display: flex;
    align-items: center;
  }

  .ant-select-selector {
    border-color: rgba(204, 204, 204, 0.5) !important;
    box-shadow: none !important;

    &:hover {
      border-color: $main-orange-color !important;
    }

    &:focus-within {
      border-color: $main-orange-color !important;
      border-right-width: 1px;
      box-shadow: none;
    }
  }

  .ant-form-item {
    margin: 0;
  }

  .ant-input-affix-wrapper {
    border-radius: 4px;
    height: 36px;

    &:focus {
      border-color: $main-orange-color;
      border-right-width: 1px;
      box-shadow: none;
    }

    &:active {
      border-color: $main-orange-color;
      border-right-width: 1px;
      box-shadow: none;
    }

    &:focus-within {
      border-color: $main-orange-color;
      border-right-width: 1px;
      box-shadow: none;
    }
  }

  .ant-input-affix-wrapper-focused {
    border-color: $main-orange-color !important;
    box-shadow: none;
  }

  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: $main-orange-color;
    border-right-width: 1px;
    z-index: 1;
  }

  .ant-select-clear {
    transform: translateX(-5px);
    font-size: 14px;
  }

  .ant-drawer-title {
    font-size: 14px;
    font-weight: 700;
  }
}
